{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "dipasqualew"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "indent": ["error", 2]
  }
}
